
.clients_container {
    -fx-background-color: #eeeeee;
}

.clients_container Text {
    -fx-fill: #555555;
    -fx-font-size: 1.8em;
    -fx-font-family: "Calibri Light";
}

.clients_container .list-view {
    -fx-background-color: #ffffff;
    -fx-border-color: #aaaaaa;
    -fx-border-width: 1 1 1 1;
}

.clients_container .list-cell {
    -fx-background-color: #ffffff;
    -fx-padding: 10 0 10 0;
}
.search_box {
    -fx-spacing: 10;
    -fx-border-color: #aaaaaa;
    -fx-border-width: 0 0 2 0;
}

Text {
    -fx-font-family: "Calibri Light";
    -fx-font-size: 1.4em;
    -fx-fill: #555555;
}

TextField {
    -fx-pref-width: 200;
    -fx-pref-height: 35;
    -fx-background-color: #ffffff;
    -fx-effect: dropshadow(three-pass-box, #aaaaaa , 3 ,0 ,0 ,3);
}
Button {
    -fx-background-color: linear-gradient(to right , #ABD1DC , #7097A8);
    -fx-effect: dropshadow(three-pass-box,#aaaaaa , 3 , 0 ,0 ,3);
    -fx-font-size: 1.1em;
    -fx-text-fill: #ffffff;
    -fx-font-family: "Calibri Light";
    -fx-pref-width: 80;
}
Button:hover {
    -fx-cursor: hand;
}

.clients_container VBox {
    -fx-padding: 10;
    -fx-spacing: 15;
}

.clients_container VBox Label {
    -fx-font-size: 1.2em;
    -fx-font-weight: bold;
}



